include head.jade
body
    div.container-fluid
        div.section
            div.row.center
                h4 :| Couldn't load your requested url
            div.row
                  div.center
                      h6.red-text
                          = url
