include head.jade
link(rel="stylesheet", href="css/flags.css")
script.
    var ReportAnalytics = false;
body
    include header.jade
    div.container-fluid
      div.section
          div.row
              div.col.l4.offset-l4
                  h4 Stats
                  p
                      span.theme-color-text
                          =items.length
                      =" "
                      if items.length == 1
                          |item
                      else
                          |items
                      =" "
                      |buffered
                  p
                      |Next item live
                      =" "
                      span.theme-color-text
                          =" "
                          - starttime.reset()
                          =moment_local(starttime.next()).fromNow()
                          - starttime.reset()
                      =" "
                      |on
                      ul
                          li
                              img(class="flag flag-us")
                              =" "
                              - starttime.reset()
                              =moment_local(starttime.next()).tz('America/New_York').format('MMM D, h:mm:ss A z')
                              - starttime.reset()
                  p
                      i.material-icons.tiny alarm
                      |Notification
                      =" "
                      span.theme-color-text
                          =" "
                          - pushNotificationTime.reset()
                          =moment_local(pushNotificationTime.next()).fromNow()
                          - pushNotificationTime.reset()
                      =" "
                      |on
                      ul
                          li
                              img(class="flag flag-us")
                              =" "
                              - pushNotificationTime.reset()
                              =moment_local(pushNotificationTime.next()).tz('America/New_York').format('MMM D, h:mm:ss A z')
                              - pushNotificationTime.reset()
                          li
                              img(class="flag flag-us")
                              =" "
                              - pushNotificationTime.reset()
                              =moment_local(pushNotificationTime.next()).tz('America/Los_Angeles').format('MMM D, h:mm:ss A z')
                              - pushNotificationTime.reset()
                          li
                              img(class="flag flag-in")
                              =" "
                              - pushNotificationTime.reset()
                              =moment_local(pushNotificationTime.next()).tz('Asia/Kolkata').format('MMM D, h:mm:ss A z')
                              - pushNotificationTime.reset()
                          li
                              img(class="flag flag-br" )
                              =" "
                              - pushNotificationTime.reset()
                              =moment_local(pushNotificationTime.next()).tz('America/Sao_Paulo').format('MMM D, h:mm:ss A z')
                              - pushNotificationTime.reset()
                          li
                              img(class="flag flag-gb" )
                              =" "
                              - pushNotificationTime.reset()
                              =moment_local(pushNotificationTime.next()).tz('Europe/London').format('MMM D, h:mm:ss A z')
                              - pushNotificationTime.reset()
                  p
                      |Buffer empty
                      =" "
                      span.theme-color-text
                          =" "
                          =moment_local(endtime).fromNow()
                      =" "
                      |on
                      ul
                          li
                              img(class="flag flag-us")
                              =" "
                              =moment_local(endtime).tz('America/New_York').format('MMM D, h:mm A z')
                  p
                      |Email
                      =" "
                      span.theme-color-text
                          =" "
                          =moment_local(mailingListTime.next()).fromNow()
                          - mailingListTime.reset()
                      =" "
                      |on
                      ul
                          li
                              img(class="flag flag-us")
                              =" "
                              =moment_local(mailingListTime.next()).tz('America/New_York').format('MMM D, YYYY h:mm A z')
    include showitems.jade
    include footer.jade
