each item in items
  h3
    = item.text
  a(href="http://localhost:3000/v/" + item.id)
    img(src="#{item.imageuri}")
  p
    a(href='http://wompwomp.co/v/' + item.id)  www.wompwomp.co&#47;v&#47;#{item.id}
