- var n = 1
each item in items
  h2
    | #
    = n++
  div(style="border-style:solid; border-color:black; border-width:1px;")
    a(href="http://wompwomp.co/v/" + item.id)
      img(src="#{item.imageuri}")
    h3
      = item.text
  div(style="clear:both")
  br
  br
