div(class="row", align="center")
  div(style="font-weight:bold")
      | Get Agni beamed to your Inbox
    | The best of Agni sent to you every week!
div(class="row")
  div(class="input-field col s7 left-align")
    input(type="email", class="validate", name="email", placeholder="you@gmail.com", autocomplete="on")
  div(class="col s1 right-align")
    a(href="#" class="btn waves-effect btn-sm green lighten-1" type="submit" name="action")
        | Activate
