div(class="row")
  div(class="col s6")
    div(style="font-weight:bold")
      | Get Agni beamed to your Inbox
    | The best of Agni sent to you every week!
  div(class="col s6", align="center")
    input(type="email", class="validate", name="email", placeholder="you@gmail.com", autocomplete="on")
    a(href="#" class="btn waves-effect btn-sm green lighten-1" type="submit" name="action")
        | Activate
