include head.jade
body
  div(class="container-fluid")
    include header.jade
    div(class="row")

    div(class="col s4 m4")
       div.card(class="card-panel hoverable grey lighten-3")
         include appinstall.jade

      p(class="col s8 offset-s2 caption center")
        | We've added
        code
          = email
        | to our weekly mailing list. Check your inbox to confirm!
