
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<p>Have a lovely day.</p>
<p>PS: We have an Android App. <a href="#">Get it on Google Play</a>

</body>
</html>
