div(id="subscribe_placeholder")
div(id="subscribe")
    div.container-fluid.theme-background
        div.section
            div.right
                a(id="pinnedsubscribeclosebutton", href="")
                    i.material-icons.theme-background.theme-text.closebutton close
            div.theme-text.center
                |Get popular posts sent to your inbox &nbsp;
                = " "
                button(class="btn modal-trigger theme-dark cta-btn",
                    data-target="subscribemodal") Subscribe
include subscribemodal.jade
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
script(src="js/agni.js")
