div.section.no-pad-bot.amber.darken-2
    div.container-fluid
        h5.center.amber-text.text-darken-4.brand
            |A Hatching Amazing Labs creation &copy; 2015
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
