//footer(class="page-footer teal lighten-5")
  div(class="container")
    div(class="row")
      div(class="col 16 s12")
    | hatching amazing labs &copy; 2015
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="materialize/js/materialize.min.js")
