div.section.amber.darken-2
    div.container-fluid
        h5.center.amber-text.text-darken-4.brand
            |A Hatching Amazing Labs creation &copy; 2015
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
script(src="js/agni.js")
