div(id="masthead")
    div.section.theme-background.no-pad
        div.container-fluid
            a.brandlink(href="/")
                div.center.brand.theme-text
                    image(src="images/trombone_white.svg", height="36px", width="auto")
                    |&nbsp;wompwomp
            div.center
                b.theme-text.tagline
                    |Your Funniest Minute Every Day
if disable_install_cta
else
    div(id="install_placeholder")
    div(id="install")
        div.container-fluid.theme-background
            div.section
                div.right
                    a(id="pinnedinstallclosebutton", href="")
                        i.material-icons.theme-background.theme-text.closebutton close
                div.theme-text.center
                    |Get the app &nbsp;
                    = " "
                    a.btn.theme-dark.cta-btn(href="/install") Install
