div(id="masthead")
    div.section.theme-background.no-pad
        div.container-fluid
            a.brandlink(href="/")
                div.center.brand.theme-text
                    image(src="images/trombone_white.svg", height="36px", width="auto")
                    |&nbsp;WompWomp
            div.center
                b.theme-text.tagline
                    |The best images for sharing to WhatsApp
div(id="install_placeholder")
div(id="install")
    div.section.theme-background
        div.container-fluid
            div.theme-text.center
                |Try the app
                br
                a(href="#")
                    img(id="logo", alt="Get it on Google Play",
                        src="images/googel-play-badge.png")
