div.section.no-pad-bot.amber.darken-2
    div.container-fluid
        h3.center.amber-text.text-darken-4.brand
            |WompWomp
        div.row.center.tagline
            h5.amber-text.text-lighten-4
                | Mobile app with the best images for sharing to WhatsApp
        div.row.center
            a.btn.btn-large.amber(href="#", role="button")
                |Install on Android
