doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="msvalidate.01", content="DA8D3934BFC14D74CDBF26993A563E10")
    meta(name="yandex-verification", content="48937940d5f6e812")
    meta(name="keywords", content="wompwomp,fun,funny,daily funny,android,lol,meme,cute,fail")
    meta(property="al:android:url", content="http://wompwomp.co/")
    meta(property="al:android:package", content="co.wompwomp.sunshine")
    meta(property="og:image", content="http://wompwomp.co/images/web_hi_res_512.png")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(type="text/css", rel="stylesheet",
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css",
        media="screen,projection")
    link(rel="stylesheet", href="css/agni.css")
