div(id="masthead")
    div.section.theme-background.no-pad
        div.container-fluid
            a.brandlink(href="/")
                div.center.brand.theme-text
                    image(src="images/trombone_white.svg", height="36px", width="auto")
                    |&nbsp;wompwomp
            div.center
                b.theme-text.tagline
                    |Your funniest minute every day
div(id="install_placeholder")
div(id="install")
    div.right
        a(id="pinnedinstallclosebutton", href="")
            i.material-icons.theme-background.theme-text.closebutton close
    div.container-fluid.theme-background
        div.section
            div.theme-text.center
                |Try the app &nbsp;
                a.btn.theme-dark(href=app_store_link) Install
