include head_no_title.jade
head
  title wompwomp - Your funniest minute every day
  meta(name="description", content="wompwomp is your funniest minute everyday. wompwomp has the best funny pics, memes, cute, geeky photos on the web. wompwomp is your daily source of fun. Check out wompwomp now!")
