div.container-fluid
  div(class="row")
  - var n = 0
  each item in items
    div(class="col")
      if (n % 5 == 0)
        div(class="col l4 offset-l4")
          div.card(class="card-panel hoverable grey lighten-3")
            include appinstall.jade
      div(class="row")
        div(class="col l4 offset-l4")
          div(class="card hoverable")
            a(href="/v/"+ item.id, class="card-image")
              img(src="#{item.imageuri}")
            div(class="card-content")
              p
                = item.text
              p
                em.text-muted.small
                  = moment(item.created_on).fromNow()
                em.text-muted.small
                | &nbsp;
      if (n % 6 == 0)
         div.card(class="card-panel hoverable grey lighten-4")
           include email.jade
    - n++
