include head.jade
body
  div(class="container-fluid")
    include header.jade
    div(class="row")
      h4(class="col s12 light center header")
        | The best images. One click share to WhatsApp
      p(class="col s8 offset-s2 caption center")
        | No pressure. One notification a day.
    include showitems.jade
  include footer.jade
