div.container-fluid
  if display_headline
      div.section.center
          h4.theme-color-text
              |Recent Posts
          h6
              p
                  |For the complete experience
                  =" "
                  a(href="/install") install the app
  if display_home_button
      div.section
          div.row
              div.col.l4.offset-l4
                  a(href="/")
                      i.material-icons(id="icon-middle") navigate_before
                      |See new funny posts
  div.section
      each item in items
          div.row
            div.col.l4.offset-l4
              include fullcard.jade
        - itemcount++
    div.center.tiny-text
        |a hatching amazing labs creation &copy; 2015&nbsp;
        |&middot;&nbsp;
        a(href="mailto:wompwompapp@gmail.com") Contact&nbsp;
        |&middot;&nbsp;
        |Privacy
