div.container-fluid(id="main")
  div(class="section")
      each item in items
          div(class="row")
            div(class="col l4 offset-l4")
              div(class="card hoverable")
                a(href="/v/"+ item.id, class="card-image")
                  img(src="#{item.imageuri}")
                div(class="card-content", id=item.id)
                    p
                        = item.text
                    span.right
                        =item.numshares
                    div.right
                        |&nbsp;
                    a.right(href="whatsapp://send?text=" + encodeURIComponent(item.text
                            + " - wompwomp.co/v/"+ item.id),
                            data-action="share/whatsapp/share")
                            img(src="images/share-icon.png" height="24px", width="24px")
                    div.right
                        |&nbsp;&nbsp;
                    span.right
                        =item.numfavorites
                    div.right
                        |&nbsp;
                    a.right(href="", id="favorite" + item.id)
                        i.material-icons.red-text.text-lighten-5(id="favoriteicon" + item.id) favorite
                    p.em.small.grey-text
                        =moment(item.created_on).fromNow()
        - itemcount++
