div.container-fluid
  div.row
  - var n = 0
  each item in items
    div(class="col s4 m4")
      if (n % 4 == 0)
         div.card(class="card-panel hoverable grey lighten-3")
           include appinstall.jade
      div.card(class="card-panel hoverable")
        div.card-image(class="card")
          img(src="#{item.imageuri}" )
        div.card-content(align="center")
          p
            = item.text
          p
            em.text-muted.small
              = moment(item.created_on).fromNow()
            em.text-muted.small
              &nbsp; 
              a(href='/v/' + item.id) agni.co&#47;r&#47;#{item.id}
      if (n % 6 == 0)
         div.card(class="card-panel hoverable grey lighten-4")
           include email.jade
    - n++
