div.theme-background(id="subscribemodal", class="modal")
    div.modal-header
        div.right
            i.material-icons.theme-background.modal-close.theme-text.closebutton close
        div.center.theme-text
                b Sign up
    div.modal-content
        div.row.center.theme-text
            |Get the best of wompwomp beamed to your inbox weekly
        form.subscribeform(role="form", method="post", action="/subscribe")
            div.row.center
                div.input-field
                    input(id="emailfield", type="email", class="validate",
                        name="email", autocomplete="on", maxlength="100")
                    label(for="email") Enter Your Email
                    button(type="submit", id="subscribebutton", class="btn theme-dark")
                            |Subscribe
