include head.jade
body
    include header.jade
    .container-fluid
        div.section
            div.row.center
                div.col.l4.offset-l4.flow-text
                    if messages.error
                        .alert.alert-danger
                            div.red-text
                                = messages.error
                    if messages.info
                        .alert.alert-info
                            div.orange-text
                                = messages.info
                    if messages.success
                        .alert.alert-success
                            div.green-text
                                = messages.success
        div.section
            div.row
                div.col.l4.offset-l4
                    h5  Get the best of wompwomp beamed to your inbox twice a week
                    br
                    form.subscribepageform(role="form", method="post", action="/subscribe")
                        div.row.center
                            div.input-field
                                input(id="subscribepageemailfield", type="email", class="validate",
                                    name="email", autocomplete="on", maxlength="100")
                                label(for="email") Enter Your Email
                                button(id="subscribepagebutton", type="submit", class="btn theme-dark")
                                        |Subscribe
                div.row.center
                    div.col.l4.offset-l4
                        |If you have Android,
                        =" "
                        a(href=app_store_link) install the wompwomp app
                        |.
        div.section
            div.row
                div.col.l4.offset-l4
                    a(href="/")
                        i.material-icons(id="icon-middle") navigate_before
                        |See new funny posts
        div.center.tiny-text.center
            |a hatching amazing labs creation &copy; 2015&nbsp;
            |&middot;&nbsp;
            a(href="mailto:wompwompapp@gmail.com") Contact&nbsp;
            |&middot;&nbsp;
            |Privacy
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
    script(src="js/agnisubscribe.js")
