include head_no_title.jade
head
  each item in items
    title 
      = item.text
      | - wompwomp
    meta(name="description", content="#{item.text}" + " - wompwomp is your funniest minute everyday. wompwomp has the best funny pics, memes, cute, geeky photos on the web. wompwomp is your daily source of fun. Just one notification a day. Check out wompwomp now!")
body
  include header.jade
  include showitems.jade
include footer.jade
