include head_no_title.jade
head
    title
      = item.text
      | - wompwomp
    meta(name="description", content="#{item.text}" + " - wompwomp is your funniest minute everyday. wompwomp has the best funny pics, memes, cute, geeky photos on the web. wompwomp is your daily source of fun. Check out wompwomp now!")
body
    include header.jade
    div.section
      div.row
        div.col.l4.offset-l4
          include fullcard.jade
    div.section
      h4.center.theme-color-text Other Top Posts This Week
      each item in topItems
          div.row
            div.col.l4.offset-l4
                include fullcard.jade
    if display_home_button
      div.section
          div.row.center
              div.col.l4.offset-l4
                  a.btn.btn-large.theme-dark(href="/")
                      |See new funny posts
    div.center.tiny-text
      |a hatching amazing labs creation &copy; 2015&nbsp;
      |&middot;&nbsp;
      a(href="mailto:wompwompapp@gmail.com") Contact&nbsp;
      |&middot;&nbsp;
      |Privacy
include footer.jade
