/*
 * agni.css
 *
 * Copyright 2015–2015, Hatching Amazing Labs
 */

.brandlink {
    text-decoration: none !important;
}

.brand {
    font-weight: 700;
}

.tagline {
    font-weight: 400;
}

/* to prevent unwanted horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#logo {
    margin: 0 auto;
    height: 45px;
    width: 139px;
}

.fixed-top {
    position: fixed;
    top: 0px;
    z-index: 1;
}

#installsubscribe, #installsubscribe_placeholder{
    width: 100%;
}
