/*
 * agni.css
 *
 * Copyright 2015–2015, Hatching Amazing Labs
 */

@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

.brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.byline {
    font-family: 'Montserrat', sans-serif;
}

/* to prevent unwanted horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
