/*
 * agni.css
 *
 * Copyright 2015–2015, Hatching Amazing Labs
 */

body {
    font-family: "BPreplay", sans-serif;
    font-size: 1.1em;
}

.theme-background {
    background-color: rgba(234, 239, 255 ,0.9); /* #6985EC ;*/
}

.theme-color-text {
    color: #6985EC;
}

.theme-text {
    color: #6985EC; /*#ffffff;*/
}

.theme-dark, .btn, .btn:hover, .btn:focus, .btn-large, .btn-large:hover, .btn-large:focus{
    background-color: #264BD0;
}

.theme-light {
    background-color: #8FA5F4;
}

.brandlink {
    text-decoration: none !important;
}

.brand {
    font-weight: 700;
    font-size: 3em;
}

.tagline {
    font-weight: 400;
    font-size: 1.5em;
}

.tiny-text {
    font-size: 0.6em;
}

/* to prevent unwanted horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.fixed-top {
    position: fixed;
    top: 0px;
    z-index: 1;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

#install, #install_placeholder, #subscribe, #subscribe_placeholder{
    width: 100%;
}

.modal .modal-footer .btn{
    float: none;
}

/* label color */
.modalinput label {
    color: #6985EC; /*#ffffff;*/
}

/* label focus color */
.modalinput input[type=email]:focus + label {
    color: #6985EC; /*#ffffff;*/
}
/* label underline focus color */
.modalinput input[type=email]:focus {
    border-bottom: 1px solid  #6985EC; /*#ffffff;*/
    box-shadow: 0 1px 0 0  #6985EC; /*#ffffff;*/
}
/* valid color */
.modalinput input[type=email].valid {
    border-bottom: 1px solid  #6985EC; /*#ffffff;*/
    box-shadow: 0 1px 0 0  #6985EC; /*#ffffff;*/
}
/* invalid color */
.modalinput input[type=email].invalid {
    border-bottom: 1px solid  #6985EC; /*#ffffff;*/
    box-shadow: 0 1px 0 0  #6985EC; /*#ffffff;*/
}
/* icon prefix focus color */
.modalinput .prefix.active {
    color:  #6985EC; /*#ffffff;*/
}

.modalemailinput {
   border-bottom: 1px solid  #6985EC; /*#ffffff;*/
}

#pinnedinstallclosebutton, #pinnedsubscribeclosebutton {
    visibility: hidden;
}

.closebutton {
    font-size:1.5em;
    padding-right: 5px;
}

#icon-middle {
    vertical-align: middle;
}

.cta-btn {
    height: unset;
    line-height: unset;
    padding: 0 0.5rem;
}

ul {
    padding-left: 40px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tab a {
    color: #6985EC !important;
}

.tab a:hover {
    color: #8FA5F4 !important;
}

.indicator {
    background-color: #6985EC; !important;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.card-image {
    display: block;
    text-align: center;
}

/* everything below is required only for a white background */
nav .brand-logo, nav ul a, nav .button-collapse i {
    color: #6985EC !important;
}

nav .brand-logo {
    padding: 5px;
}

nav {
    background-color: #ffffff;
}
