extends layout

block content
    div.container-fluid
      div.section
          div.row
              div.col.l4.offset-l4
                  a.left(href="/dailystats?date="+ moment_local(today).add(-1, 'days').format('MM-DD-YYYY'))
                      i.material-icons(id="icon-middle") navigate_before
                      |Previous day
                  a.right(href="/dailystats?date=" + moment_local(today).add(1, 'days').format('MM-DD-YYYY'))
                      |Next day
                      i.material-icons(id="icon-middle") navigate_next
          div.row.center
              div.col.l4.offset-l4
                  h5 Stats on
                     =" "
                     =moment_local(today).format('MMM DD, YYYY')
          div.row
              div.col.l4.offset-l4
                  ul.collapsible(data-collapsible="accordion")
                      li
                          .collapsible-header
                              i.material-icons.tiny thumb_up
                              |Top Items
                          .collapsible-body
                                if topItems.length > 0
                                    - var totalLikes = 0
                                    - var totalShares = 0
                                    div(class="table-responsive")
                                        table(class="table highlight striped")
                                          thead
                                              tr.trhideclass
                                                  th No.
                                                  th Item
                                                  th User Interactions
                                              tbody
                                                  - var i = 0
                                                  each item in topItems
                                                    - i++
                                                    - totalLikes += item[1].numfavorites
                                                    - totalShares += item[1].numshares
                                                    tr.trhideclass
                                                      td
                                                        = i
                                                      td
                                                        a(href="/v/"+item[1].id)
                                                            em
                                                                = item[1].id
                                                      td
                                                        = item[1].numshares
                                                        =" "
                                                        |shares,
                                                        =" "
                                                        = item[1].numfavorites
                                                        =" "
                                                        |likes
                                    b Total:
                                    =" "
                                    =totalShares
                                    =" "
                                    |shares,     
                                    =" "
                                    =totalLikes
                                    =" "
                                    |likes      
                                else
                                    br
                                    em
                                        |Nobody seemed to share or like anything :(
                       li
                           .collapsible-header
                               i.material-icons.tiny attach_money
                               |Installs
                           .collapsible-body
                                if topCampaigns.length > 0
                                    - var totalInstalls = 0
                                    div(class="table-responsive")
                                        table(class="table highlight striped")
                                          thead
                                              tr.trhideclass
                                                  th No.
                                                  th Campaign ID
                                                  th Installs
                                              tbody
                                                  - var i = 0
                                                  each item in topCampaigns
                                                    - i++
                                                    - totalInstalls += item[1].numinstalls
                                                    tr.trhideclass
                                                      td
                                                        = i
                                                      td
                                                        = item[1].id
                                                      td
                                                        = item[1].numinstalls
                                    b Total:
                                    =" "
                                    =totalInstalls
                                    =" "
                                    |installs
                                else
                                    br
                                    em
                                        |No installs today :(
                        
          div.row
              div.col.l4.offset-l4
                  h5 User Stats
                  div(class="table-responsive")
                    table(class="table highlight striped")
                      thead
                          tr.trhideclass
                              th No.
                              th User
                              th Events
                          tbody
                              - var i = 0
                              each user in users
                                - i++
                                tr.trhideclass
                                  td
                                    = i
                                  td
                                    = user.location
                                    br
                                    a(href="/userstats?id="+user._id)
                                        em
                                            = user._id
                                  td
                                    ol
                                      each stat in user.stats
                                        li
                                            =stat.action
                                            =" "
                                            if(stat.action == "App_installed")
                                                |through campaign
                                                =" "
                                                =stat.content_id
                                            else if(stat.content_id != "")
                                                a(href="http://wompwomp.co/v/"+stat.content_id)
                                                     =stat.content_id
                                            =" "
                                            |at
                                            =" "
                                            =moment_local(stat.timestamp).tz(user.timezone).format('h:mm A z')
