extends layout
block content
    .container-fluid
        div.section
            div.row
                div.col.l4.offset-l4
                    if(!user)
                        h5 Welcome to the dashboard
                        h6
                            |If you're a member,
                            =" "
                            a(href='/signin') sign in
                            |.
                            =" "
                            |If you're not,
                            =" "
                            a(href='/signup') sign up
                            |. It's free.
                    else
                        h5
                            |Hi
                            =" "
                            =user.username
                            |, you're signed in
                        h6 Go create some magic!
