extends layout
block content
    .container-fluid
        div.section
            div.row.center
                div.col.s12.l4.offset-l4
                    if(!user)
                        h5 Welcome to the dashboard
                        h6
                            |If you're a member,
                            =" "
                            a(href='/signin') sign in
                            |.
                            =" "
                            |If you're not,
                            =" "
                            a(href='/signup') sign up
                            |. It's free.
                    else
                        h5
                            |Hi
                            =" "
                            =user.username
                            |!     
                        br
                        p
                            a.waves-effect.btn-large.theme-dark(href="/post") Post Something Funny
                        br
                        ul.tabs(id="dashboardtabs")
                            li.tab.col.s3
                                a(href="#in_review") In Review
                            li.tab.col.s3
                                a.active(href="#going_live") Going Live
                            li.tab.col.s3
                                a(href="#live") Live
                        div.col.s12(id="in_review")
                            h5
                                =reviewitems.length
                                =" "
                                if(reviewitems.length == 1) 
                                    |item
                                else
                                    |items
                                =" "
                                |in review
                            br
                            div(class="table-responsive")
                              table(class="table highlight striped")
                               tbody
                                   - var i = 0
                                   each item in reviewitems
                                     - i++
                                     tr.trhideclass
                                         td
                                             = i
                                         td
                                            include ../fullcard.jade
                        div.col.s12(id="going_live")
                            h5 
                                =goingliveitems.length
                                =" "
                                if(goingliveitems.length == 1) 
                                    |item
                                else
                                    |items
                                =" "
                                |going live
                            br
                            div(class="table-responsive")
                              table(class="table highlight striped")
                               tbody
                                   - var i = 0
                                   each item in goingliveitems
                                     - i++
                                     tr.trhideclass
                                         td
                                             = i
                                         td
                                            include ../fullcard.jade
                        div.col.s12(id="live")
                            - var totalfavorites = 0
                            - var totalshares = 0
                            each item in liveitems
                                - totalfavorites += item.numfavorites
                                - totalshares += item.numshares
                            h5
                                =liveitems.length
                                =" "
                                if(liveitems.length == 1) 
                                    |item
                                else
                                    |items
                                =" "
                                |live
                            h5
                                i.material-icons.red-text(style="vertical-align: middle;") favorite
                                =" "
                                =totalfavorites    
                                |&nbsp;&nbsp;&nbsp;
                                i.material-icons.grey-text(style="vertical-align: middle;") share
                                =" "
                                =totalshares
                            br
                            div(class="table-responsive")
                                table(class="table highlight striped")
                                 tbody
                                     - var i = 0
                                     each item in liveitems
                                       - i++
                                       tr.trhideclass
                                           td
                                               = i
                                           td
                                              include ../fullcard.jade


                        
