extends layout
block content
    .container-fluid
        div.section
            div.row
                div.col.l4.offset-l4
                    if(!user)
                        h3 Welcome to the wompwomp dashboard
                        h6
                            |If you're a member,
                            =" "
                            a(href='/signin') sign in
                            |.
                            =" "
                            |If you're not,
                            =" "
                            a(href='/signup') sign up
                            |. It's free.
                    else
                        h3 You're signed in
                        h5 Now go do your magic!
