extends layout
block content
    .container-fluid
        div.section
            div.row
                div.col.l4.offset-l4
                    if(!user)
                        h5 Welcome to the dashboard
                        h6
                            |If you're a member,
                            =" "
                            a(href='/signin') sign in
                            |.
                            =" "
                            |If you're not,
                            =" "
                            a(href='/signup') sign up
                            |. It's free.
                    else
                        h5
                            |Hi
                            =" "
                            =user.username
                            |, you're signed in
                        if(user)
                            if(user.role == "admin")
                                p You have admin privileges. You can do the following:
                            else
                                p You can do the following:

                        if(user)
                            if(user.role == "admin")
                                li
                                    a(href="/buffer") View buffered content
                                li
                                    a(href="/review") Review content
                                li
                                    a(href="/dailystats") View usage stats
                                li
                                    a(href="/itemstats") View item stats
                            li
                                a(href="/post") Post content
