if display_buffered_item_meta_data
    if items.length > 0
        h4 Buffered Items
    else
        h4 wompwomp for real :(
        |Don't sit on yo ass. Submit an item quick or eat only samosas for the rest of your life
div(class="table-responsive")
  table(class="table highlight striped")
   tbody
       - var i = 0
       each item in items
         - i++
         tr.trhideclass
             td
                 = i
             td
                if display_buffered_item_meta_data
                   include buffered_item_meta_data.jade
                include ../fullcard.jade
                form.itemreviewform.center(id=item.id, role='form', action="/review/"+item.id, method="post")
                    div.input-field
                      .form-group
                          select.form-control(id="selectreviewdecision"+item.id)
                            option(value="" disabled selected) What do you want to do with this post?
                            option(value="hide") Hide
                            if enable_show_item
                                option(value="show") Publish
                            else
                                option(value="review") Re-Review
                      button.btn(type='submit', id="submitreviewdecision"+item.id) Submit
