extends layout

block content
    div.container-fluid
      div.section
          div.row
              div.col.l4.offset-l4
                  h5 Stats for user in
                     =" "
                     =location
                     =" "
                     |with ID
                     =" "
                     =id
                  div(class="table-responsive")
                    table(class="table highlight striped")
                      thead
                          tr.trhideclass
                              th No.
                              th Date
                              th Events
                          tbody
                              - var i = 0
                              each day in days
                                - i++
                                tr.trhideclass
                                  td
                                    = i
                                  td
                                    a(href="/dailystats?date="+day._id.month+"-"+day._id.day+"-"+day._id.year)
                                        =day._id.month
                                        ="-"
                                        =day._id.day
                                        ="-"
                                        =day._id.year
                                  td
                                    ol
                                      each event in day.events
                                        li
                                            =event.action
                                            =" "
                                            if(event.content_id != "")
                                                a(href="http://wompwomp.co/v/"+event.content_id)
                                                     =event.content_id
                                            =" "
                                            |at
                                            =" "
                                            =moment_local(event.timestamp).tz(timezone).format('h:mm A z')
