extends layout

block content
    div.container-fluid
      div.section
          div.row
              div.col.l4.offset-l4
                  h5 Stats for user in
                     =" "
                     =location
                  p
                      - var firstDay = days[days.length - 1]
                      - var now = moment_local();
                      - var firstMoment = moment_local([parseInt(firstDay._id.year), parseInt(firstDay._id.month) - 1, parseInt(firstDay._id.day)])
                      - var totalDaysAsUser = Math.ceil(now.diff(firstMoment, 'days', true)) 
                      |Active on 
                      = days.length
                      =" "
                      |out of 
                      =" "
                      =totalDaysAsUser
                      =" "
                      |days as a user
                  - var i = 0
                  ul.collapsible.popout(data-collapsible="expandable")
                      each day in days
                        - i++
                        li 
                            .collapsible-header 
                                = day.events.length
                                =" "
                                |events on
                                =" "
                                a(href="/dailystats?date="+day._id.month+"-"+day._id.day+"-"+day._id.year)
                                    =day._id.month
                                    ="-"
                                    =day._id.day
                                    ="-"
                                    =day._id.year
                            .collapsible-body
                                div(class="table-responsive")
                                    table(class="table highlight striped")
                                      thead
                                          tr.trhideclass
                                              th No.
                                              th Event
                                          tbody
                                              - var statcounter = 0
                                              each event in day.events
                                                - statcounter++
                                                tr.trhideclass
                                                    td
                                                        =statcounter
                                                    td
                                                        =event.action
                                                        =" "
                                                        if(event.content_id != "")
                                                            a(href="http://wompwomp.co/v/"+event.content_id)
                                                                 =event.content_id
                                                        =" "
                                                        |at
                                                        =" "
                                                        =moment_local(event.timestamp).tz(timezone).format('h:mm A z')
